/Lab Folder/Lab2 Folder/Lab2/nbproject/private/
/Lab Folder/Lab2 Folder/Lab2/build/
/Assignment Folder/Assignment 2/JavaApplication4/nbproject/private/
/Assignment Folder/Assignment 2/JavaApplication4/build/
